:root {
    --glider-spacing: 1rem;
    --glider-top-padding: 0.5rem;
    --glider-right-padding: calc((100% - 80rem) / 2 + 7.75rem);
    --glider-bottom-padding: 0.5rem;
    /* --slider-left-padding: calc((100% - 80rem) / 2 + 1rem); */
    --glider-left-padding: 0;
    --glider-peek: 0.5;
    --glider-spacing: 1rem;
}

.glider {
    position: relative;

    &-grid {
        display: grid;
        grid-auto-columns: calc(100% / (2 + var(--glider-peek)) - var(--glider-spacing));
        gap: var(--glider-spacing);
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        scrollbar-width: none;
        padding: 0.5rem;

        @media (min-width: 576px) {
            grid-auto-columns: calc(97% / 3.8);
        }

        @media (min-width: 768px) {
            grid-auto-columns: calc(97% / 3);
        }

        @media (min-width: 992px) {
            grid-auto-columns: calc(96% / 4);
        }

        @media (min-width: 1200px) {
            grid-auto-columns: calc(94%/6);
        }

        @media (min-width: 992px) {
            &.glider-grid-6-cols {
                grid-auto-columns: 32%;
            }
        }

        &-item {
            /* width: 200px; */
            height: auto;
            scroll-snap-align: start;
            aspect-ratio: 9 / 16;
        }
    }
}

.glider-pager {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;

    &-item {
        border: none;
        width: 1rem;
        height: 1rem;
        background-color: #d3d3d3;
        border-radius: 50%;
        cursor: pointer;

        &:hover, &:focus {
            outline: 2px solid #7d7d7d;
        }
        
        &.active {
            background-color: #a9a9a9;
        }
    }
}

// @supports (container-type: inline-size) {

//     .glider-container {
//         container-type: inline-size;
//     }

//     .glider-grid {
//         // grid-auto-columns: calc(100% / (2 + var(--glider-peek)) - var(--glider-spacing));

//         // styles based on container width instead of viewport width

//         @container (min-width: 516px) {
//             grid-auto-columns: calc(97% / 3.8);
//         }

//         @container (min-width: 708px) {
//             grid-auto-columns: calc(97% / 3);
//         }

//         @container (min-width: 932px) {
//             grid-auto-columns: calc(96% / 4);
//         }

//         @container (min-width: 1140px) {
//             grid-auto-columns: calc(94% / 6);
//         }
//     }    
// }
